<div class="container">
  <form #loginForm="ngForm" (ngSubmit)="save(loginForm.value,loginForm)">
    <div class="col-md-4">
      <div class="row">
          <label>Email:</label>
          <input type="email" [(ngModel)]="email" id="email" placeholder="Enter email"  name="email">
      </div>  
    </div>
    <div class="col-md-4">
      <div class="row">
          <label>Password:</label>
          <input type="password" [(ngModel)]="password" id="pwd" placeholder="Enter password" name="pwd">
      </div>
    </div>
    <!-- <div class="col-md-4">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div> -->
    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-default">Submit</button>
  </form>
</div>